# LF everywhere so two agents on different OSes don't fight over line endings
* text=auto eol=lf

*.png binary
*.jpg binary
*.webp binary
*.wav binary
*.ogg binary
*.mp3 binary
*.glb binary
*.gltf -text
*.blend binary
*.fbx binary
*.ttf binary
*.otf binary
*.res binary
*.scn binary
